body{
    color: #000;
}
.left_col{
    color: #000;
}
.table_view input {
    background-color: #add1e7;
    border: 1px solid #add1e7;
    color: #000;
    border: 1px solid #ADD1E7;
    height: 30px;
    margin: 0 15px;
}
.cam_search{
    position: relative;
    margin-bottom: 5px;
}

.cam_search input {
    border: 1px solid #b4b2b1;
    height: 28px;
    line-height: 28px;
    width: 100%;
    padding-left: 5px;
}

.cam_search .icon_search {
    background-image: url("../images/search.png");
    height: 24px;
    position: absolute;
    right: 5px;
    top: 3px;
    width: 24px;
    background-size: 100%;
    cursor: pointer;
}
.menu_section div ul {
    margin: 0 !important;
    overflow: hidden;
    padding: 0 0 5px 5px;
}
.menu_section div ul li{
    float: left;
    list-style: none;
}
.cam_show_select {
    background-color: #b9d4e9;
    height: 35px;
    line-height: 35px;
    border: 1px solid #7AC4EE;
}

.cam_res {
    border-bottom: 1px solid #000;
    height: 35px;
    line-height: 35px;
    margin: 0 5px;
}
.cam_res .icon{
    margin-top: 5px;
    cursor: pointer;
}
.icon_play{
    display: block;
    background-image: url("../images/icon_play.png");
    width: 25px;
    height: 25px;
    background-size: 100%;
}
.icon_shutdown{
    display: block;
    background-image: url("../images/icon_shutdown.png");
    width: 25px;
    height: 25px;
    background-size: 100%;
}

.icon_stop{
    display: block;
    background-image: url("../images/icon_stop.png");
    width: 25px;
    height: 25px;
    background-size: 100%;
}

.icon_capture{
    display: block;
    background-image: url("../images/icon_capture.png");
    width: 30px;
    height: 30px;
    background-size: 100%;
}
.icon_record{
    display: block;
    background-image: url("../images/icon_record.png");
    width: 25px;
    height: 25px;
    background-size: 100%;
}


.cam_res li:last-child{
    margin: 0!important;
}

.table_view {
    background-color: #b9d4e9;
    overflow: hidden;
}
.icon_rec_1 {
    background-image: url("../images/rectang-1.png");
    display: block;
    height: 30px;
    width: 30px;
}

.icon_rec_4 {
    background-image: url("../images/rectang-4.png");
    display: block;
    height: 30px;
    width: 30px;
}
.icon_rec_9 {
    background-image: url("../images/rectang-9.png");
    display: block;
    height: 30px;
    width: 30px;
}
.icon_rec_16 {
    background-image: url("../images/rectang-16.png");
    display: block;
    height: 30px;
    width: 30px;
}
.cam_rec li {
    margin-right: 15px;
}
.cam_rec li:last-child{
    margin-right: 0!important;
}
.cam_setup input {
    height: 30px;
    width: 32%;
}
.cam_rec p {
    margin-top: 8px;
}

.cam_setup{
    background-color: #B9D4E9;
}
.show_error{
    color: red;
    text-align: center;
    margin: 5px 0;
}
.control-label{
    width: 20%;
    float: left;
}
.nav_li {
    margin: 0 30px;
}
.nav > li > a {
    display: block;
    padding: 10px;
    position: relative;
}
.navbar-brand, .navbar-nav > li > a {
    color: #ecf0f1 !important;
    font-weight: 500;
    line-height: 15px;
    margin-left: 0 !important;
}
.top_nav .dropdown-menu li a {
    padding: 7px 20px;
    width: 100%;
}
.tbody_view tr td{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    text-align: center;
    vertical-align: top;
}
#CalenderModalNew .modal-content .modal-body .control-label {
    width: 25%;
}
.navbar-nav li:hover ul.dropdown-menu{
    display: block;
}
.permission-group-form {
    width: 100%;
}
#permissiongroup-name{
    width: 80%;
}
.permission-group-form .form-group > span {
    margin-left: 5px;
    margin-right: 22px;
}
.nav-sm .main_menu_side{
    width: 0px;
    overflow: hidden;
}
.cam_res .img_hd_sd {
    cursor: pointer;
    float: right;
    display: none;
    height: 25px;
    margin-top: 5px;
    width: 25px;
}
.cam_res:hover .img_hd_sd{
    display: block;
}

.new_recoder{
    float: left;
    padding-top: 5px;
    width:  480px;
    font-size: 17px;
}
.title_select_recoder{
    float: left;
    padding-top: 5px;
    margin-right: 20px;
}
.recoder_sl{
    width: 325px;
}
#recorder_modal .form-group, #camera_modal .form-group{
    float: left;
    width: 50%;
}
#recorder_new_info_modal .form-group, #camera_modal .form-group{
    float: left;
    width: 50%;
}
#camera_info{
    overflow: hidden;
}
.summary{
    display: none;
}
.recorder_cams{
    height:140px;
    overflow-y: scroll;
}
.modal-header{
    padding: 2px !important;
    line-height: 30px;
}
.modal-header span{
    font-size: 13px;
    font-weight: bold;
    padding-left: 8px;
}
.modal-header button{
    padding: 2px !important;
}
.modal-content .form-group{
    margin-bottom: 3px;
}
.modal-content input,.modal-content label{
    padding: 2px;
    font-size: 11px;
}
.modal-content .form-control{
    height: 25px;

}
.modal-content  select{
    height: 32px !important;

}

.modal_body_info {
    overflow: hidden;
    padding-bottom: 15px;
}
.required_info{
    margin: 10px 0;
}
#modalPopup .modal-header{
	    background: #fff;
    border-radius: 10px 10px 0px 0px;
}
#modalPopup .modal-content{
	border-top: none;
	border-radius: 0 0 6px 6px !important;
}
.timekeeping-frontend-index .form-group, .tmp-video-period-base-index .form-group{
	width: 268px;
    float: left;
}
.timekeeping-frontend-index .form-horizontal .form-group input, .tmp-video-period-base-index  .form-group input{
	width: 160px;
}
.timekeeping-frontend-index  .form-horizontal .control-label, .tmp-video-period-base-index  .control-label{
	width: 90px;
	font-weight:normal;
}
.action-timekeeping,.action-timekeeping-auto {
    float: left;
    border: 1px solid #ddd;
    padding: 0px;
    margin-bottom: 5px;
    line-height: 23px;
    padding-bottom: 0px;
	
}
.action-timekeeping img:hover,.action-timekeeping-auto img:hover,.btn-del-confirm img:hover,.btn-del-confirm img:hover,.action-restore img:hover,.btn-export-confirm:hover{
    opacity: 0.7;
	cursor:pointer;
}
.action-timekeeping .text-edit-manual{
	float:left;
	padding-left:10px;
	line-height:20px;
	padding-right:5px;
}
.action-timekeeping .btn-edit-confirm,.btn-edit-manual-confirm{
	padding:5px;
}
.action-timekeeping .form-group {
    width: 111px;
	margin-bottom: 1px;
}
.action-timekeeping .help-block{
	display:none;
}
.action-timekeeping-auto {
	margin-left:10px;
	padding-left:10px;
}
.btn-del-confirm,.btn-export-confirm{
	padding:10px;
}
.btn-restore-confirm{
	padding-right:10px;
	margin-bottom:5px;
}
.action-restore{
	margin-bottom:5px;
}
.video_view{
    overflow: hidden;
    float: left;
}
.video_left{
    width:70%;
}
.video_right{
    width: 30%;
}
.video_left .video_player {
    background-color: #969593;
    border: 1px solid;
    display: block;
    height: 350px;
    width: 100%;
}
.video_left .video_detail ul {
    float: left;
    padding: 0 !important;
}
.video_left .video_detail {
    margin-top: 20px;
    overflow: hidden;
}
.show_video_info ul li{
    list-style: outside none none;
}
.video_comment textarea{
    width: 100%;
}
.video_left .title_video{
    padding: 10px 0;
}
.video_detail ul {
    padding: 0 0 5px 15px !important;
    float: left;
}
.show_video_info {
    display: block;
    overflow: hidden;
    width: 100%;
}

.video_right .video_detail {
    background-color: #dededc;
    margin: 20px 5px;
    overflow: hidden;
    padding: 10px 0;
}
.video_left .video_player label {
    color: red;
    font-size: 280px;
    font-weight: normal;
}
.video_detail span {
    color: red;
    margin: 0 5px;
}

.video_left .video_comment .button_cm{
    clear: both;
    display: block;
    margin: 10px 0;
    overflow: hidden;
    padding: 10px;
}
.dep-left {
    width: 250px;
    float: left;
    box-sizing: border-box;
    border: 1px solid #ccc;
    /* border: rebeccapurple; */
    border-right: none;
    line-height: 34px;
    padding-left: 10px;
}
.dep-left li{
     line-height: 15px;
    list-style: none;

 }
.dep-left ul li .child:hover{
    font-style: italic;
    cursor: pointer;

}
.dep-left ul{
    padding-left: 10px;

}
.dep-right{
    float: left;
    width: 62%;
}
.dep-table{
    width: 1000px;
}
.clear-both{
    clear: both;
}
.timekeeping-frontend-index table th {
    font-size: 11px;
    text-align: center;
}
.timekeeping-frontend-index .popup-form .control-label{
	width: auto !important;
	font-size:13px;
}
.timekeeping-frontend-index .popup-form label{
	padding-right: 15px;
    font-size: 13px;
}
.timekeeping-frontend-index .popup-form input{
	width:auto !important;
}
.timekeeping-frontend-index .popup-form .col-sm-5{
	width: 118px;
}
.popup-img img{
	max-height: 260px;
}
.staff_search_name{
	float:none;
	width: 300px;
	
}
.staff_search_name{
	float:none;
	width: 300px;
	
}
.staff_search_name .control-label {
		width:130px !important;
		padding:10px;
}
.staff_search_name #timekeepingsearch-staff_name {
		width:481px !important
}


